@media (max-width: 900px){
  .cards {
    width: 500px
  }
}

@media (max-width: 500px) {
  .cards {
    width: 300px
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  color: black;
}

.card img {
  width: 150px;
}

.card h3 {
  font-size: 15px;
}

.card p {
  font-size: 14px;
  color: grey;
  opacity: .7;
}
